.city-search-page.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-input-temp-unit-div.row {
    width: 100%;
    margin-top: -10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3E536B;
    justify-content: center;
    font-family: sans-serif;
}

.unit-select.custom-select {
    background-color: lightblue;
}

.search-bar.form-control {
    background-color: lightblue;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
}

.search-button.btn {
    background-color: lightblue;
    border: none;

}

.city-weather {
    color: grey;
    background-color: #253041;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.weather-image {
    margin-top: -30px;
    margin-bottom: -10px;
    width: calc(80% + 1vw);
    height: auto;
}

.city-weather-right-column-no-color {
    justify-content: right;
}

.city-weather-right-column-color {
    justify-content: right;
    background-color: #3E536B;
}


.city-weather-description-icon {
    margin-top: -10px;
    margin-bottom: -20px;
}

.text {
    left: 30px;
    justify-content: left;
}

.temperature-text {
    background-color: #3E536B;
}

.temperature-categories-text {
    justify-content: flex-end;
}

/*Found on
https://bootstrapcreative.com/can-adjust-text-size-bootstrap-responsive-design/
allows for responsive text size depending on viewport size.*/
.text-responsive {
    font-size: calc(85% + 1vw + 1vh);

}







