.top-banner{
    background-color: #253041;
    color: whitesmoke;
    padding-bottom: 5px;
}

/*Weather Checker*/
.title-top-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    margin-bottom: -25px;
}

/*"Check the Weather!*/
.message-top-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}


