.top-banner{
    background-color: #253041;
    color: whitesmoke;
    padding-bottom: 5px;
    /*margin-right: -20px;*/
    /*margin-left: -20px;*/
    /*margin left/right using negative pixels to make sure that to banner is 100% width. Must be a
    a better way to d this. TODO*/
}

.title-top-banner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    font-family: sans-serif;
    margin-bottom: -25px;
}

.message-top-banner {
    display: flex;
    align-items: center;
    justify-content: center;

}


